/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Layers
#define DEFAULT 0
#define NAV     1
#define NUM     2

// DE keys
#define DE_PLUS &kp RBRC
#define DE_LABK &kp NON_US_BACKSLASH // <
#define DE_PIPE &kp RA(NON_US_BACKSLASH)
#define DE_MINS &kp SLASH
#define DE_UE   &kp LBRC
#define DE_OE   &kp SEMI
#define DE_AE   &kp APOS
#define DE_SS   &kp MINUS
#define DE_QUES &kp LS(MINUS)
#define DE_HASH &kp NON_US_HASH

// Special shortcuts
#define ________   &trans
#define TODO       &trans
#define DEL_W      &kp LC(BSPC)
#define SPACE_NUM  &lt NUM SPACE

/ {
    behaviors {
        tdcpy: tap_dance_copy {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_COPY";
            #binding-cells = <0>;
            tapping-term-ms = <220>;
            bindings = <&kp C>, <&kp LC(C)>;
        };
    };

	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |  BS  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   | RET  |
// | SHIFT |  Z  |  X  | CPY  |  V   |  B   | L SHIFT |   CAPS  |  | L SHIFT |    |    |  N   |  M    |  ,    |  .   |   -   | RSHFT|
//                     | GUI  | DEL  | RET  |  SPACE  |   SPACE |  | DEL_WORD|  SPACE  | RALT | RCTL  | RSHFT |
			bindings = <
	&kp TAB   &kp Q &kp W &kp E    &kp R    &kp T                                                &kp Y    &kp U    &kp I     &kp O   &kp P    &kp BSPC
	NAV       &kp A &kp S &kp D    &kp F    &kp G                                                &kp H    &kp J    &kp K     &kp L   DE_PLUS  &kp RET
	&kp LSHFT &kp Z &kp X &tdcpy   &kp V    &kp B    &kp LSHFT &kp CAPS      &kp LSHFT DE_PIPE   &kp N    &kp M    &kp COMMA &kp DOT DE_MINS  &kp RSHFT
	                      &kp LGUI &kp LCTL &kp LALT SPACE_NUM &kp SPACE     DEL_W     SPACE_NUM &kp RALT &kp RCTL &kp RSHFT
			>;

			sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
		};

	};

};
