/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DE_PLUS &kp RBRC
#define DE_LABK &kp NON_US_BACKSLASH // <
#define DE_PIPE &kp RA(NON_US_BACKSLASH)
#define DE_MINS &kp SLASH

#define DEL_W &kp C(BSPC)

/ {
    behaviors {
        tdcpy: tap_dance_copy {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_COPY";
            tapping-term-ms = <220>;
            bindings = <&kp C>, <&kp LC(C)>;
        };
    };

	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  | CPY  |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
			bindings = <
	&kp TAB   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
	&kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   DE_PLUS  &kp RET
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp CAPS         &kp LSHFT DE_PIPE   &kp N &kp M  &kp COMMA &kp DOT DE_MINS  &kp RSHFT
	                &kp LGUI &kp LCTL &kp LALT &kp SPACE &kp SPACE     DEL_W     &kp SPACE &kp RALT &kp RCTL &kp RSHFT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
